#--estimates-view {
  width: calc(100vw - 234px);
  height: calc(100vh - 44px);
  background-color: #202124;

  .estimates-head {
    height: 44px;
    border-bottom: #414144 1px solid;
    background-color: #27272a;

    > div {
      height: 100%;
      width: fit-content;
      border-right: #414144 1px solid;
      padding: 0 24px;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #ffffff;
    }
  }

  .estimates-table {
    padding: 0 10px;
  }

  .row-boxes {
    height: 42px;
    border-bottom: #414144 1px solid;
    display: flex;
    color: #a1a1aa;

    > div {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        flex-grow: 1;
      }

      &:nth-child(2) {
        flex-grow: 7;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        flex-grow: 2;
      }
    }
  }

  .row {
    padding: 18px 12px;
    border-bottom: #414144 1px solid;
  }
}
